{% extends "base.html" %}

{% block static_file %}
{% endblock %}

{% block section %}
<h1>개인정보처리방침</h1><br>
<p>
    <h2>제 1조 (총칙)</h2><br>
    1. 서든코드는 고객의 개인정보 및 개인위치정보를 매우 중요시하며, 법령 및 방송통신위원회의 개인정보보호지침상 개인정보 보호규정을 준수하고 있습니다.<br><br>
    3. 서든코드는 개인정보취급방침을 통하여 고객의 개인정보가 어떤 용도와 방식으로 이용되고 있으며 개인정보 보호를 위하여 어떤 조치가 취해지고 있는지 알려드립니다.<br><br>
    4. 서든코드는 개인정보취급방침을 서비스 첫 화면 또는 홈페이지에 공개함으로써 고객이 언제나 쉽게 보고 확인할 수 있도록 조치하고 있습니다.<br><br>
    5. 서든코드는 개인정보취급방침을 관련 법령 및 방송통신위원회의 개인정보보호지침의 변경 또는 내부 운영규정의 변경에 따라 개정할 수 있으며, 개인정보취급방침을 개정하는 경우 버전번호 등을 부여하여 개정된 사항을 고객이 쉽게 알아볼 수 있도록 하고 있습니다.<br><br>
    <br><br>
    <h2>제 2조 (개인정보의 수집항목 및 이용목적)</h2><br>
    1. 서든코드는 고객의 개인정보를 수집하는 경우 관련 법령에 따라 가입신청서 또는 이용약관 등을 통하여 그 수집범위 및 수집 이용 목적을 사전에 고지합니다.<br><br>
    2. 서든코드가 수집하는 고객의 개인정보는 다음과 같습니다.<br><br>
    : 서비스 이용시 수집하는 개인정보, 이메일, 비밀번호, 닉네임 등<br><br>
    3. 서든코드는 법령의 규정 또는 고객의 동의 없이는 사상, 신념, 과거의 병력 등 고객의 권리 또는 이익이나 사생활을 뚜렷하게 침해할 우려가 있는 개인정보를 수집하지 않습니다.<br><br>
    4. 서든코드가 고객의 개인정보를 수집 및 이용하는 목적은 다음과 같습니다.<br><br>
    :  홈페이지 회원가입 및 관리, 민원사무 처리, 재화 또는 서비스 제공, 마케팅 및 광고에의 활용<br><br>
    <br><br>
    <h2>제 3조 (개인정보의 수집 및 이용 등에 관한 동의방법)</h2><br>
    1. 서든코드는 서비스 이용을 위한 신청서 작성, 인터넷 홈페이지를 통한 회원가입, 상담 및 서비스 이용과정 중 생성 등의 방법으로 개인정보를 수집합니다.<br><br>
    <br><br>
    <h2>제 4조 (개인정보의 이용 및 제공)</h2><br>
    1. 서든코드는 고객의 개인정보를 이용약관, 개인정보취급방침의 개인정보 수집 및 이용 목적상 고지한 범위 내에서 이용 및 제공하며, 그 범위를 넘어서 이용하거나 제공하지 않습니다.<br><br>
    2. 서든코드는 서비스의 제공에 관한 계약을 이행하기 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상적인 동의를 받는 것이 뚜렷하게 곤란한 경우에는 고객의 동의가 없더라도 개인정보를 수집/이용할 수 있습니다.<br><br>
    <br><br>
    <h2>제 5조 (개인정보의 이용 및 보관 기간)</h2><br>
    1. 서든코드는 고객의 서비스 가입일로부터 고객에게 서비스를 제공하는 기간 동안에 한하여 고객의 개인정보를 보유 및 이용하게 됩니다.<br><br>
    2. 서든코드는 고객이 회원 탈퇴를 요청하는 경우 지체 없이 파기합니다.<br>
    <br><br>
    <h2>제 6조 (개인정보의 파기)</h2><br>
    1. 서든코드는 수집한 개인정보의 수집 및 이용 목적이 달성되거나 그 보유/이용기간이 종료되는 경우 고객의 동의, 이용약관, 관련 법령에 따라 보관이 필요한 경우를 제외하고 해당 정보를 지체 없이 파기합니다.<br><br>
    <br><br>
    <h2>제 7조 (고객의 권리와 그 행사방법)</h2><br>
    1. 고객은 언제든지 서든코드가 보유하는 개인정보, 개인정보의 이용/제공내역, 수집/이용/제공에 대한 동의내역을 제공받을 수 있습니다. 해당 개인정보에 오류가 있거나 보존기간이 경과한 것으로 판명되는 등 정정/삭제를 할 필요가 있다고 인정되는 경우에는 서든코드는 지체 없이 이를 수정합니다.<br><br>
    2. 서든코드는 대리인이 방문하여 열람증명을 요구하는 경우에는 적법한 위임을 받았는지 확인할 수 있는 위임장 및 본인의 인감증명서와 대리인의 신분증 등을 제출 받아 정확히 대리인 여부를 확인합니다.<br><br>
    3. 고객이 개인정보의 오류에 대한 정정을 요청한 경우, 정정이 완료되기 전까지 개인정보를 이용 또는 제공하지 않습니다.<br><br>
    4. 서든코드는 잘못된 개인정보를 이미 제3자에게 제공한 경우 그 정정 처리결과를 제3자에게 지체 없이 통지하여 정정하도록 합니다.<br><br>
    5. 고객은 개인정보를 최신의 상태로 정확하게 입력하고 변동 사항이 있는 경우, 이를 서든코드에 통보하여야 하며, 스스로 부정확한 정보를 입력하거나, 서든코드에 통보하지 않아서 서든코드가 알 수 없는 고객정보의 변동으로 인한 책임은 고객 자신에게 귀속됩니다.<br><br>
    6. 고객이 타인 정보의 도용이나 침해, 허위정보를 입력하는 경우 서비스 해지 및 회원자격이 상실될 수 있으며 법 등 관련 법령에 따라 처벌받을 수 있습니다.<br><br>
    7. 고객이 개인정보의 열람•제공을 반복적으로 요구하는 등 업무에 지장을 줄 우려가 있거나 그 분량이 상당하여 비용이 드는 경우,  서든코드는 고객의 요구를 연기 또는 거절하거나 업무처리에 따른 실비(복사비 등)를 고객에게 청구할 수 있습니다..<br><br>
    <br><br>
    <h2>제 8조 (개인정보 수집/이용/제공에 대한 동의철회)</h2><br>
    1. 개인정보의 수집/이용/제공에 대해 고객은 동의한 내용을 언제든지 철회할 수 있습니다. 동의철회는 서비스 내에서  "계정탈퇴”를 클릭하거나 개인정보관리책임자 및 담당자에게 서면, 전화, 이메일 등으로 연락하면 하실 수 있으며 서든코드는 지체 없이 개인정보의 삭제 등 필요한 조치를 합니다.<br><br>
    2. 서든코드는 고객이 동의철회를 하여 개인정보를 파기하는 등의 조치를 취한 경우 고객의 요청에 따라 그 사실을 고객에게 통지합니다.<br><br>
    <br><br>
    <h2>제 9조 (개인정보 관리책임자 및 담당자)</h2><br>
    고객의 개인정보를 보호하고 개인정보와 관련된 불만을 처리하기 위하여 당사는 개인정보 관리책임자를 두고 있습니다.<br><br>
    고객의 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보 관리책임자 또는 개인정보 관리담당자에게 연락 주시기 바랍니다.<br><br>
    - 개인정보관리책임자: 관리자<br><br>
    연락처: doublik99@gmail.com<br><br>
    <br><br>
    <h2>제 10조 (권익침해 구제방법)</h2><br>
    1. 기타 개인정보침해의 신고 및 상담에 대하여는 아래기관에 문의하시기 바랍니다. <br><br>
    - 개인분쟁조정위원회 : 1833-6972 (www.kopico.go.kr)<br><br>
    - 개인정보침해신고센터 : 118, (privacy.kisa.or.kr)<br><br>
    - 대검찰청 사이버범죄수사단 : 1301, cid@spo.go.kr (www.spo.go.kr)<br><br>
    - 경찰청 사이버안전국 : 182, (cyberbureau.police.go.kr)<br><br>
    <h2>개인정보처리방침 시행일자 : 2018년 2월 1일</h2><br><br>
</p>
{% endblock %}